*{
    margin: 0;
    padding: 0;
}

/* INICIO PAGINA INDEX */

/*Cuerpo*/

body{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contenido{
    width: 70%;
    margin: auto;
}

/*Header (Encabezado)*/

.encabezado{
    width: 100%;
}

#imagenlogo{
    float: left;
    width: 130px;
    padding: 0.5%;
}

.titulo{
    width: 100%;
    text-align: center;
    font-size: 25px;
    padding: 5px;
    box-sizing: border-box;    
}

/*Menu*/

.navegacion{
    width: 100%;
    height: 70%;
    margin-top: 150px;
    background: #005883;
    font-size: 20px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.navegacion ul {
    list-style: none;    
}

.menu > li {
    position: relative;
    display: inline-block;
    text-align: left;
}

.menu > li > a{
    display: block;
    padding: 15px 15px;
    color: white;
    text-decoration: none;
}

.menu li a:hover{
    color: #F0B429;
    transition: all .3s; 
}

.submenu{
    position: absolute;
    background: #005883;  
    width: 130%;
    visibility: hidden;
    opacity: 0;
    transition: opacity .7s;
    padding-left: 10%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1000;
}

.submenu li a{
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
    float: left;
}


nav span{
    font-size: 18px;
    margin-right: 5px;
}

nav span.caret{
    margin-left: 10px;
    font-size: 12px;
}

/*Contenido*/

.info{
    margin-top: 3%;
    width: 80%;
    min-height: calc(100vh - 293px);         
    float: left;
}


.articulo1{
    float: left;
    width: 100%;
    padding: 0% 3% 0%;
    box-sizing: border-box;
}

.secp{
    color: black;
    margin-left: 3%;
    font-size: 1.2rem;
}

.t2{
    color: black;
    font-size: 2.1rem;
    font-weight: bold;
}

.t3{
    color: black;
    font-size: 2rem;
}

section li{
    color: black;
    margin-left: 6%;
    font-size: 1.2rem;
}

.datoimagen{
    margin-top: 2%;
    width: 100%;
    background: transparent;
}

#imagenejemplo{    
    display: block;
    width: 95%;
    margin: auto;
    padding-top: 2% ;
}

.pieimag{
    text-align: center;
    padding: 0% 0% 2% ;
}

/*Barra de Twitter*/

.twitter{
    margin-top: 3%;
    float: right;
    width: 20%;
}

/*Pie de pagina*/

footer{
    width: 100%;
    height: 100%;
    color: white;
    font-style: italic;
    background-color: #005883;
    text-align: center;
    float: left;
    line-height: 25px;
    padding: 1%;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* FIN PAGINA INDEX */

/* INICIO PAGINA CONCEPTOS01 Y CONCEPTOS02 */

.articuloc02{
    width: 70%;
    margin: auto;
}

.t2-c1{
    font-size: 2.1rem;
    text-align: center;
}

.parconc1{
    font-size: 1.1rem;
    text-align: justify;
    padding-left: 3%;
}

.t3-c1{
    font-size: 1.1rem;
    text-align: left;
}

.imgejemplos{
    padding-left: 3%;
    width: 100%;
    display: block;
    margin: auto;
}

.referenciadelaweb{
    font-size: 1.1rem;
    font-style: italic;
}

.img1c2{
    width: 50%;
    display: block;
    margin: auto;
}

.img2c2{
    width: 60%;
    display: block;
    margin: auto;
}

/* FIN PAGINA CONCEPTOS01 Y CONCEPTOS02*/


/* INICIO PAGINA RECURSOS01 Y RECURSOS02 */

.articulor01{
    width: 70%;
    margin: auto;
}

.t2-c1{
    font-size: 2.1rem;
    text-align: center;
}

.t3-c1{
    font-size: 1.1rem;
    text-align: left;
}

.t3-r1 span{
    font-style: italic;
}
.parconc1{
    font-size: 1.1rem;
    text-align: justify;
    padding-left: 3%;
}

.divyoutube{
    width: 90%;
    margin: auto;
}

.video{
    height: 0px;
    padding-bottom: 56.25%;
    position: relative;  
}

.video iframe{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

/* FIN PAGINA RECURSOS01 Y RECURSOS02*/

/* INICIO PAGINA AUTOR */

.dato{
    font-size: 25px;
    color: #005883;
    padding-top: 2%;
}

.respuesta{
    font-size: 20px;
    color: #F0B400;
    padding-left: 3%;
    padding-top: 1%;
}

.articuloautor1{
    width: 33%;
    float: left;
}

.articuloautor2{
    padding-right: 10px;
    width: 65%;
    float: right;
}


#documento{
    width: 100%;
    height: 80vh;
}
/* FIN PAGINA AUTOR */

@media  (max-width:1110px){

    .contenido{
        width: 90%;
        margin: auto;
    }

    /* INICIO PAGINA AUTOR */

    .dato{
        font-size: 20px;
        color: #005883;
        padding-top: 2%;
    }

    .respuesta{
        font-size: 15px;
        color: #F0B400;
        padding-left: 3%;
        padding-top: 1%;
    }

    .articuloautor1{
        width: 33%;
        float: left;
    }

    .articuloautor2{
        padding-right: 10px;
        width: 65%;
        float: right;
    }


    /* FIN PAGINA AUTOR */

}
